.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./assets/images/background-letter-1.jpg');
  background-size: cover;
  /* width: fit-content; */
}

.card {
  opacity: 0.8;
}

p {
  font-size: 16px;
}


